<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @place.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @place.end_date %>
</p>

<p>
  <strong>Date range:</strong>
  <%= @place.date_range %>
</p>

<p>
  <strong>Visited:</strong>
  <%= @place.visited %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
